.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b4cad5;
}
.calculator{
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}