body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b4cad5;
    margin: 0;
}
.calculator{
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.calculator input{
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


 button{
    width: 70px;
    height: 70px;
    font-size: 18px;
    margin: 1%;
    border: none;
    border-radius: 50%;
    background-color: #a4e7ca;
    cursor: pointer;
}
.calculator button:hover{
    background-color: #e0e0e0;
}
